
$fontfamily:"Avenir", sans-serif;
$fontfamily2:"Pier-sans", sans-serif;
$minwidth:320px;
$bluecolor:#0376C4;

@import "mixins";
@import "null";
@import "header";
@import "footer";
@import "block-1";
@import "block-2";
@import "block-3";
@import "block-4";
@import "block-5";
@import "block-6";
@import "block-7";
@import "block-8";
@import "block-9";
@import "form";

.wrapper{
	overflow: hidden;
	min-height: 100%;
}

.container{
	max-width: 1470px;
	padding: 0px 15px;
	margin: 0px auto;
}

.page{
	position: relative;
	z-index: 2;
}

.body-lock{
	position: relative;
	overflow: hidden;
}

.root{
	padding: 132px 0 0 0;
	@media(max-width: 1023px){
		padding: 87px 0 0 0;
	}
}

.ibg{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	img{display: none;}
}

.main-screen {
	flex: 1 0 100%;
		&__bg {
			position: absolute;
			width: 100%;
			height: 975px;
			top: 0;
			left: 0;
		}
}

.pretitle{
	font-family: $fontfamily2;
	font-style: normal;
	font-weight: 900;
	font-size: 70px;
	line-height: 84px;
	text-transform: capitalize;
	color: $bluecolor;
	@media(max-width: 767px){
		font-size: 55px;
		line-height: 73px;
	}
	@media(max-width: 424px){
		font-size: 42px;
		line-height: 45px;
	}
}

.presubtitle{
	font-family: $fontfamily2;
	font-style: normal;
	font-weight: 900;
	font-size: 22px;
	line-height: 28px;
	letter-spacing: 0.02em;
	color: $bluecolor;
	opacity: 0.9;
}

.cardtitle{
	font-family: $fontfamily2;
	font-style: normal;
	font-weight: 900;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: $bluecolor;
	opacity: 0.9;
}

.cardsubtitle{
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	color: #000000;
}

.description-text{
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	color: #000000;
	opacity: 0.9;
}

.bg-blue{
	background: #EDF5FB;
	border-radius: 10px;
}

.button{
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0 33px;
    height: 44px;
    background-color: $bluecolor;
    border-radius: 5px;
    }



