@font-face {
  font-family: "Avenir";
  font-display: swap;
  src: url("../fonts/Avenir-Black.woff") format("woff"), url("../fonts/Avenir-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  font-display: swap;
  src: url("../fonts/Avenir-Heavy.woff") format("woff"), url("../fonts/Avenir-Heavy.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  font-display: swap;
  src: url("../fonts/Avenir-Medium.woff") format("woff"), url("../fonts/Avenir-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  font-display: swap;
  src: url("../fonts/Avenir-MediumOblique.woff") format("woff"), url("../fonts/Avenir-MediumOblique.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  font-display: swap;
  src: url("../fonts/Avenir-Regular.woff") format("woff"), url("../fonts/Avenir-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pier-sans";
  font-display: swap;
  src: url("../fonts/Pier-sans-black.woff") format("woff"), url("../fonts/Pier-sans-black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Pier-sans";
  font-display: swap;
  src: url("../fonts/Pier-sans-bold.woff") format("woff"), url("../fonts/Pier-sans-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Pier-sans";
  font-display: swap;
  src: url("../fonts/Pier-sans-medium.woff") format("woff"), url("../fonts/Pier-sans-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Pier-sans";
  font-display: swap;
  src: url("../fonts/Pier-sans-regular.woff") format("woff"), url("../fonts/Pier-sans-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nexa-Book";
  font-display: swap;
  src: url("../fonts/Nexa-Book.woff") format("woff"), url("../fonts/Nexa-Book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "Avenir", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Avenir", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.header-footer__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 132px;
}

.header-footer__content svg {
  fill: #fff;
}

.header-footer__content:before {
  content: '';
  position: absolute;
  width: 1920px;
  height: 1px;
  background-color: #fff;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header-footer__logo {
  padding: 0 0 0 3px;
}

.header-footer__logo svg {
  width: 239px;
  height: 84px;
}

.header-footer__list {
  padding: 20px 58px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 847px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 50px;
}

.header-footer__link {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  padding: 0 10px 0 0;
}

.header-footer__link:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  height: 1px;
  width: 0;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.header-footer__link:last-child {
  padding: 0;
}

.header-footer__link a {
  color: #fff;
}

.header-footer__link:hover:before {
  width: 100%;
}

.header-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 110px;
  padding: 20px 0 0 5px;
}

.header-footer__network {
  padding: 0 10px 0 0;
  opacity: 1;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.header-footer__network:last-child {
  padding: 0;
}

.header-footer__network.twitter svg {
  width: 15px;
  height: 13px;
}

.header-footer__network.linkedin svg {
  width: 14px;
  height: 15px;
}

.header-footer__network.youtube {
  padding: 3px 0 0 0;
}

.header-footer__network.youtube svg {
  width: 21px;
  height: 15px;
}

.header-footer__network:hover {
  opacity: 0.5;
}

.header-footer__bottom {
  font-family: 'Nexa-Book', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  text-transform: lowercase;
  color: #FFFFFF;
  padding: 34px 0;
}

.footer {
  background-color: #0376C3;
}

.footer .header-footer__content {
  height: 186px;
}

.footer .header-footer__content:before {
  width: 100%;
  opacity: 0.2;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  background-color: #817e7e;
}

.container {
  max-width: 1470px;
  padding: 0px 15px;
  margin: 0px auto;
}