.top-slider {
    &__container {
        margin: 140px 0 150px 0;
        max-width: 667px;
        height: 555px;
    }
    &__content{
        display: flex;
        justify-content: space-between;
    }
    &__pagination{
        position: static;
        text-align: left;
        color: #FFFFFF;
        display: flex;
        width: 65px;
        justify-content: space-between;
        font-size: 18px;
        .swiper-pagination-current{
            font-family: $fontfamily2;
            font-style: normal;
            font-weight: 900;
            font-size: 30px;
            line-height: 29px;
            text-transform: capitalize;
            width: 37px;
        }
        .swiper-pagination-total{
            font-family: $fontfamily2;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            text-transform: capitalize;
        }
    }
    .slide {
        max-width: 667px;
        height: 555px;
        color: #FFFFFF;
        padding: 0 10px;
        &__title {
            font-family: $fontfamily2;
            font-style: normal;
            font-weight: 900;
            font-size: 90px;
            line-height: 108px;
            text-transform: capitalize;
            margin: 10px 0 0 0;
        }
    
        &__subtitle {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 25px;
            text-transform: capitalize;
            opacity: 0.9;
            margin: 18px 0 110px 0;
            max-width: 563px;
        }
    
        &__bottom {
            display: flex;
            justify-content: space-between;
            width: 100%;
            max-width: 425px;
        }
    
        &__item {
            max-width: 100px;
            &:nth-child(2){
                padding: 0 0 0 10px;
            }
            &_top {
                font-family: $fontfamily2;
                font-style: normal;
                font-weight: 900;
                font-size: 30px;
                line-height: 36px;
                text-transform: lowercase;
            }
    
            &_bottom {
                margin: 10px 0 0 0;
                font-weight: 500;
                font-size: 18px;
                line-height: 25px;
                text-transform: lowercase;
            }
        }
    }
}

@media(max-width: 1439px){
    .top-slider{
        &__content{
            flex-direction: column;
            align-items: center;
            justify-content: inherit;
            margin: 0 0 100px 0;
        }
        &__container{
            margin: 100px 0 50px 0;
        }
    }
    .form{
        margin: 0;
        background: rgba($color: #EDF5FB, $alpha: 0.5);
    }
}

@media(max-width: 767px){
    .top-slider{
        &__container{
            max-width: 100%;
            width: 100%;
            height: 100%;
        }
        .slide{
            max-width: 100%;
            width: 100%;
            height: 100%;
            &__title{
                font-size: 60px;
                line-height: 70px;
            }
            &__subtitle{
                margin: 18px 0 50px 0;
            }
        }
    }
    .form{
        padding: 25px 20px;
        &__input{
            input, select{
                width: 100%;
                height: 27px;
            }
        }
    }
}

@media(max-width: 424px){
    .top-slider{
        .slide{
            &__title{
                font-size: 48px;
            }
        }
    }
}


